
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
    color: black; 
}


/* Header */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  color: white;
  background: grey;
  border: black 0.1rem solid;
  font-size: 30px;
}

/* Navigation Bar */
ul{
  list-style-type: none;
}

nav,
.nav-link{
  display: flex;
}
  
nav{
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
  
.nav-link{
  gap: 25px;
  list-style: none;
  font-size: 20px;
}
  
/* When Navigation is active */
.active{
    
}

a{
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
  
a:hover{
  color:grey;
}

.logo{
  font-weight: bold;
}

/* Containers for website */

.container{
  padding-top: 4vh;
  height: 100vh;
  width: 500px;
  margin: 0 25rem;
  box-sizing: border-box;
  min-height: fit-content;
  border: black solid 1.5px;
}

.section-container{
  display: flex;
}

/* Goal */

.goal-image{
  height: 10px;
  width: auto;
}

.goals-container {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goals-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
    
}

/* Form */

fieldset{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-right: 2%;
  margin-left: auto;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

form{

}

legend{
  padding: 5px;
  font-size: medium;
  word-spacing: 4px;
}

/* Footer */

footer {
  background-color: black;
  height: 3vh;
  padding: 30px;
  }

footer p{
  text-align: center;
  color: white;
}