
/* main colours

main green - #84bc41
second green - #cde4b3

yellow contrast - #f9c416

main blue - 	#099ec8
second blue - #9cd8e9

*/
*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: white;
  color: black; 
}


/* Header */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  color: white;
  font-size: 30px;

  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
}

#water{
  background-image: url(./images/water-banner.jpg);
  background-size: cover;
}

/* Navigation Bar */
ul{
  list-style-type: none;
}

nav,
.nav-link{
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  }
  
  .nav-link {
    list-style: none;
    font-size: 20px;
  }
  
  .nav-link a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
  }

  .nav-link a:hover{
    color: #84bc41;
  }

  .active a:hover{
    color: black;
  }
  
  /* When Navigation is active */
  .active {
    padding: 10px;
    border-radius: 10px;
    background-color: #84bc41;
  }

  .logo{
    font-weight: bold;
    color: white;
  }

/* Containers for website */

.container{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1{
  color: black;
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
}

.container p{
  color: black;
  text-align: center;
}

.section-container{
  display: flex;
}

/* Goal */

.goals-container {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;

  margin-left: 10%;
}

/* Image styles */
.goal-image {
  max-width: 100%;
  margin: 0 10px;
}

.goals-container img {
  width: 30%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
}

.goals-container img:hover{
  filter: invert(100%);
}

/* Form */

#form input, label{
  width: 50%;
  margin-left: 25%;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

#form textarea{
  width: 50%;
  margin-left: 25%;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 2px solid black;
}

#form #submit{
  text-align: center;
  display: flex;
  margin: auto;
  border-radius: 20px;
  padding: 20px 20px;
  font-weight: bold;
  color: black;
  background-color: #84bc41;
}

#form #submit:hover{
  color: black;
  background-color: #fff;
  border-color: #84bc41;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: black;
  height: 3vh;
  padding: 30px;
  }

footer p{
  text-align: center;
  color: white;
}