
/* main colours

main green - #84bc41
second green - #cde4b3

yellow contrast - #f9c416

main blue - 	#099ec8
second blue - #9cd8e9

*/
*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: white;
  color: black; 
}


/* Header */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  color: white;
  font-size: 30px;

  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
}

#water{
  background-image: url(./images/water-banner.jpg);
  background-size: cover;
}

#education{
  background-image: url(./images/education-banner.jpg);
  background-size: cover;
}

#poverty{
  background-image: url(./images/poverty-banner.jpg);
  background-size: cover;
}
    
/* Navigation Bar */
ul{
  list-style-type: none;
}

nav,
.nav-link{
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  }
  
  .nav-link {
    list-style: none;
    font-size: 20px;
  }
  
  .nav-link a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
  }

  .nav-link a:hover{
    color: #84bc41;
  }

  .active a:hover{
    color: black;
  }
  
  /* When Navigation is active */
  .active {
    padding: 10px;
    border-radius: 10px;
    background-color: #84bc41;
  }

  .logo{
    font-weight: bold;
    color: white;
  }

/* Hamburger Menu */

.hamburger-menu {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  background-color: white;
  border-radius: 10px;
}

/* Containers for website */

.container{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1{
  color: black;
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
}

.container h2{
  color: black;
  padding: 10px;
  text-align: center;
}

.container p{
  color: black;
  text-align: center;
}

.section-container{
  display: flex;
}

/*Index */

/* Goal */

.goals-container{   
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.goal-image {
  max-width: 100%;
  margin: 0 10px;
}

.goals-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform .1s;
}

.goals-container img:hover{
  transform: scale(1.05);
}

.goal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: 10px;
  padding: 2.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.goal-information h2{
  text-align: center;
  text-decoration: underline;
}

.goal-information p{
  padding-bottom: 10px;
}

.goal-information a{
  font-size: 20px;
  font-weight: bold;
}


/* About Us */
.team-container img{
  width: 30%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
}

.team-photo img{
  width: 100%;
}

.row{
  font-family:'Montserrat', sans-serif;
  
}

.team-photo{
  display:flex;
}

.contact-person{
  background-color: rgb(84, 126, 12);
  color: black;
  border:2px solid black;
  border-radius: 5px;
  padding:10px;
  margin:2px;
  font-weight: bold;
}

.contact-person :hover{
  background-color: aquamarine;
}

/* Form */

#form input, label{
  width: 50%;
  margin-left: 25%;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

#form textarea{
  width: 50%;
  margin-left: 25%;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 2px solid black;
}

#form #submit{
  text-align: center;
  display: flex;
  margin: auto;
  border-radius: 20px;
  padding: 20px 20px;
  font-weight: bold;
  color: black;
  background-color: #84bc41;
}

#form #submit:hover{
  color: black;
  background-color: #fff;
  border-color: #84bc41;
  cursor: pointer;
}





/* Footer */

footer {
  background-color: black;
  height: 3vh;
  padding: 30px;
  }

footer p{
  text-align: center;
  color: white;
}
